version: '3'
services:
  postgresql:
    image: postgres:13
    container_name: postgres-hypothesis
    ports:
      - 5432:5432/tcp
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=arveres
      - TZ=Etc/UTC
