# To run the project
flask
flasgger
psycopg2-binary
flask-sqlalchemy
Flask-Migrate
gunicorn
python-decouple
python-json-logger
marshmallow

# To development
ipdb
coverage
pylint
pylint-flask
black
isort[colors]
pytest
pytest-cov
pytest-sugar
